<html>
<head>
<title>REST-API</title>
</head>
<body>
    <ol>
    <li>
    <h4>[GET] /product/ --> Get all product.</h4>
    </li>
    <li>
    <h4>[GET] /product/&lt;id&gt; --> Get a Single Product.</h4>
    </li>
    <li>
    <h4>[POST] /product --> Add a Product.</h4>
    </li>
    <li>
    <h4>[PUT] /update/&lt;id&gt; --> Update a existing Product.</h4>
    </li>
    <li>
    <h4>[DELETE] /delete/&lt;id&gt; --> Delete a single product.</h4>
    </li>
    </ol>

</body>
</html>